<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What to cook?</title>

    {{!-- animate.css --}}
    <link rel="stylesheet" href="/public/css/animate.css">

    {{!-- Jquery --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {{!-- Fontawesome --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    {{!-- Handlebars cdn --}}
    <script src="/public/libs/handlebars.runtime-v4.0.12.js"></script>

    {{!-- Fonts:::::: --}}
    {{!-- 1. Lobster --}}
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    {{!-- 2. Indie Flower --}}
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

    {{!-- 3. Unlock --}}
    <link href="https://fonts.googleapis.com/css?family=Unlock" rel="stylesheet">
</head>
<body>
    {{{body}}}
</body>
</html>