<link rel="stylesheet" href="/public/css/checkout.css">

<section id="recipes-cart"></section>
<section id="recipe-detail"></section>
{{!-- <div id="checklist">
    <i class="far fa-list-alt"></i>
</div> --}}
<div id="clear-all">
    <i class="fas fa-times" title='Clear All'></i>
</div>

<script src="/public/js/checkout.js"></script>