<link rel="stylesheet" href="/public/css/checklist.css">

{{!-- <header>
    <h3 id="back-to-cart">
        Back to cart
    </h3>


</header> 
<section id="navbar-filler"></section> --}} 
<section id="checklist"></section>
<section id="ref-table"></section>

<script src="/public/js/checklist.js"></script>