    <link rel="stylesheet" href="/public/css/index.css">
    
    <div id="logo">
        <img src="/public/logo/b9376ded-30c7-4ca1-a104-e807474f5f05.png">
    </div>

    <nav>
        <ul>
            <ul>
                {{#if user}}
                <a href="/lobby"><li>Chat</li></a>
                <a href="/search"><li>Search</li></a>
                <a href="/auth/logout"><li>Logout</li></a>
                {{else}}
                <a href="/auth/login"><li>Login</li></a>
                {{/if}}
                <a href="/"><li>Homepage</li></a>
            </ul>
        </ul>
    </nav>
    {{!-- <header>
        <h2>Homepage</h2>
    </header>
    <main>
        <p>Check this out!</p>
    </main> --}}