<link rel="stylesheet" href="/public/css/login.css">

<div id="login">
    <h1>Welcome. Please login.</h1>
    <!-- error message -->
<h3>{{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}
    {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}
    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    </h3>
<!-- end of error message -->
    <main>
        <form class='local' method='post' action='/auth/local'>

                <a>User Name</a> <input type='text' name="userName" pattern=".{4,12}" title="You must input 4 to 12 characters"
                    required>
                <a>Password</a> <input type='password' name="password" pattern=".{4,12}" title="You must input 4 to 12 characters"
                    required>
                <button type='submit'>submit</button>
        </form>
    </main>
    <p><span class="btn-round">or</span></p>


    <p>
        <a class="facebook-before"><span class="fab fa-facebook-square"></span></a>
        <button class="facebook" onclick="location.href='/auth/facebook';">Login Using Facebook</button>
    </p>

    <p>
        <a class="google-before"><span class="fab fa-google-plus-square"></span></a>
        <button class="google" onclick="location.href='/auth/google';">Login Using Google+</button>

    </p>

    <h4>Don't have an account? Join us <a href="/auth/signup"> Here</a>!</h4>

</div>