  <nav>
    <ul>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/search">search</a></li>
        <li><a href="/">Homepage</a></li>
    </ul>
</nav>
<header>Login using</header>
<main>
    <a class = "google-btn" href="/auth/google">Google</a>
    <a class = "facebook-btn" href="/auth/facebook">Facebook</a>
</main>

<h2>Local Registration</h2>
<nav>
    <form class='local' method='post' action='/signup'>
    <a>User Name</a> <input type = 'text' name="userName">
    <a>Display Name</a> <input type = 'text' name="displayName">
    <a>Password</a> <input type = 'password' name="password">
    <a>email</a> <input type = 'password' name="password">
    <button type='submit'>submit</button>
    </form>
</nav>