<link rel="stylesheet" href="/public/css/profile.css">

<fieldset class="profile">
    <legend>My Profile</legend>
    <div class = "container">
    <div><img id="profilePic" src="{{profilePic}}"></div>
    <div>{{name}}</div>
    <div>{{email}}</div>
    </div>
</fieldset>

<section id="group"></section>