<link rel="stylesheet" href="/public/css/search.css">

<header>
    <i class="fas fa-arrow-left"></i>
    <i class="fas fa-shopping-cart"></i>

    <div id="search-bar">
        <form id="search-recipe">
            <input type="search" placeholder="Search recipe">
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
</header>
<section id="navbar-filler"></section>


<section id="recipes"></section>

<section id="recipe-detail"></section>

<script src="/public/js/search.js"></script>