* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font: 13px Helvetica, Arial;
    background-color: lightblue;

  }

  form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6vh;
  }

  form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
  }

  form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
  }

  .messages {
    list-style-type: none;
    margin: 0 0;
    padding: 0 0;
  }

  .conversation {
    font-size: 20px
  }

  .talk-line #breaker {
    height: 8vh;
    position: fixed;
    display: block;
  }

  .talktext {
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}

.talk-bubble {
    margin: 3vh;
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    background-color: lightyellow;
    top: -40px;
}

.talk-line {
    margin: 1vh 0;
    width: 100%;
    display: inline-block;
    height: auto;
}
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: lightyellow transparent transparent transparent;
}

p{
    word-break: break-all;
}

.talk-line img {
    position: relative;
    top: 0;
    height: 70px;
    width: 70px;
    border-radius: 50%
}

.nametag {
  transform: translateX(7px);
  padding: 5px 12px;
  color: rgb(156, 92, 40);
}

/* For carosel */

h6 {
  position: absolute;
  bottom: 10px;
  margin: 0 5px;
  color: #ffffff;
  background: #444444;
  border-radius: 5px;
  padding: 3px;
  left: 0;
  right: 0;
  text-align: center;
}

#carousel {
  position: fixed;
  height: 240px;
  width: 100%;
  /* top: 50%; */
  /* transform: translateY(-30%); */
  overflow: hidden;
  background: #666;
  padding: 20px
}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
  cursor: pointer;
}
#carousel div img {
  width: 200px;
  transition: width 1s;
  border-radius: 10px;
}
#carousel div.hideLeft {
  left: 33%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 100px;
}
#carousel div.hideRight {
  left: 67%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 100px;
}
#carousel div.prev {
  z-index: 5;
  left: 43%;
  transform: translateY(25px) translateX(-50%);
}
#carousel div.prev img {
  width: 150px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 38%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 100px;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 57%;
  transform: translateY(25px) translateX(-50%);
}
#carousel div.next img {
  width: 150px;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 62%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 100px;
}