body {
    margin: 0;
}

header {
    background-color: #D49A6A;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 99;
}

header i {
    font-size: 20px;
    margin: 10px;
    vertical-align: middle;
    cursor: pointer;
}

header i.fa-shopping-cart {
    margin-left: 0;
}

header h3 {
    font-family: 'Unloack', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 5px 10px;
}

#navbar-filler {
    height: 8vh;
}

/* Result of recipe */

section#recipes {
    height: 92vh;
}

.recipe-result {
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    margin: 5px;
    border-radius: 8px;
    top: 8vh;
}

.recipe-result img {
    width: 20vw;
    height: 20vw;
    margin: 10px;
    border-radius: 8px;
    object-fit: cover;
}

.recipe-result h3 {
    margin: 16px 8px;
    width: 70vw;
}

.recipe-result i.fa-plus-square {
    color: #444444;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 10;
}