body {
    margin: 0;
}

:root {
    --main-color: #D49A6A; 
}

div.navbar {
    position: fixed;
}

header {
    background-color: var(--main-color);
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
}

header i {
    font-size: 20px;
    margin: 10px;
    vertical-align: middle;
    cursor: pointer;
}

header h3 {
    font-family: 'Unloack', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0 8px;
}

#navbar-filler {
    height: 8vh;
}

/* Result of checklist */

#checklist {
    width: 100%;
}

div.category {
    margin: 5px;
    background-color: #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

div.category-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

div.category-label p {
    font-size: 20px;
    font-weight: 700;
    margin: 5px;
    width: 80%;
}

div.category-label i {
    color: #777777;
}

div.online-shopping {
    background: #ffffff;
}

/* Loading block */

div.loading {
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
}

div.loading img {
    height: 15vw;
    width: 15vw;
    margin: 1px;
}

div.loading p {
    margin: 0 8px;
}

/* City super block */

div.result {
    display: grid;
    border: 2px solid var(--main-color);
}

div.result img.citysuper {
    width: 10vh;
    grid-column: 2/4;
    grid-row: 1/2;
    margin: 3px auto;
}

div.result img.thumbnail {
    grid-column: 1/2;
    grid-row: 1/4;
    width: 35vw;
    height: 35vw;
    margin: 1px;
}

div.result h5 {
    grid-column: 2/4;
    grid-row: 2/3;
    margin: auto 3px;
    font-size: 15px;
    font-weight: 400;
}

div.result p {
    grid-column: 2/4;
    grid-row: 3/4;
    margin: 3px;
    font-weight: 700;
    color: #337321;
}

.no-result {
    grid-column: 1/4;
    grid-row: 1/4;
    margin: auto;
    font-size: 24px;
    cursor: default;
    border: 2px solid var(--main-color);
    display: flex;
    height: 110px;
}

.no-result p {
    margin: auto;
    color: #337321;
}

#ref-table {
    z-index: 110;
    transform: translate3d(100vw, 0, 0);
    position: fixed;
    max-width: 400px;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    background: #eeeeee;
    padding: 10px;
    transition: transform 500ms;
}

#ref-table td,
#ref-table th 
{
    border: 3px solid #ffffff;
    padding: 3px 5px;
}

.fas {
    cursor: pointer;
}

/* Recipe reference table */

div.ingredients {
    padding: 0;
    background-color: #eeeeee;
    transition: opacity 500ms ease-out;
    opacity: 0; 
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    display: inline-block;
    float: left;
}

div.ingredients.active {
    padding: 3px;
    margin: 5px;
    opacity: 1;
    height: auto;
    width: auto;
    display: block;
    float: none;
}

.ingredients td,
.ingredients th 
{
    border: 3px solid #ffffff;
    padding: 3px 5px;
}

@media only screen and (min-width: 550px) {
    section#checklist {
        display: inline-block;
        grid-template-columns: 1fr 1fr;
    }

    .category {
        height: 180px;
    }

    div.result img.thumbnail {
        width: 15vw;
        height: 15vw;
    }

    div.loading {
        height: 150px;;
    }

    div.result {
        height: 150px;
    }

    .category-ingredient {
        display: flex;
        flex-flow: column;
        float: left;
        width: 49%;
    }
}

@media only screen and (min-width: 800px) {
    section#checklist {
        grid-template-columns: 1fr 1fr 1fr;
    }

    div.result img.thumbnail {
        width: 100px;
        height: 100px;
    }

    div.loading img {
        height: 100px;
        width: 100px;
    }

    .category-ingredient {
        width: 32%;
    }

    div.result,div.loading {
        height: 110px;
    }

    div.result {
        cursor: pointer;
    }

    .category {
        height: 140px;
    }
}

@media only screen and (min-width: 1300px) {
    section#checklist {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .category-ingredient {
        width: 24%;
    }
}