:root {
    --main-color: #D49A6A; 
}

body {
	margin: 0;
}

#filler {
	height: 8vh;
	width: 100%;
	max-height: 50px;
}

.navbar {
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 30px;
	background: #D49A6A;
	padding: 10px;
	color: #444444;
	height: 8vh;
	max-height: 50px;
	width: 100%;
	top: 0;
	box-sizing: border-box;
	z-index: 200;
	box-shadow: 1px 1px #aaaaaa;
}

.navbar .divisions {
	display: flex;
	align-items: center;
}

.navbar .divisions i{
	font-size: 20px;
	padding: 0 2px;
}

.navbar a:visited
{
 color:inherit;
}

.navbar a
{
 color:inherit;
}

/* hamburgar menu */

/*
  ========================================
  Hamburger menu
  ========================================
*/

.button_container {
	position: fixed;
	top: 2%;
	right: 2%;
	height: 27px;
	width: 35px;
	cursor: pointer;
	z-index: 310;
  }
  .button_container:hover {
	opacity: .7;
  }
  .button_container.active .top {
	transform: translateY(11px) translateX(0) rotate(45deg);
	background: #FFF;
  }
  .button_container.active .middle {
	opacity: 0;
	background: #FFF;
  }
  .button_container.active .bottom {
	transform: translateY(-11px) translateX(0) rotate(-45deg);
	background: #FFF;
  }
  .button_container span {
	background: #444444;
	border: none;
	height: 5px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .35s ease;
	cursor: pointer;
  }
  .button_container span:nth-of-type(2) {
	top: 11px;
  }
  .button_container span:nth-of-type(3) {
	top: 22px;
  }
  
  .overlay {
	position: fixed;
	background: var(--main-color);
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	transition: opacity .35s, height .35s;
	overflow: hidden;
  }
  .overlay.open {
	opacity: .9;
	height: 100%;
	z-index: 210;
  }
  .overlay.open li {
	animation: fadeInRight .5s ease forwards;
	animation-delay: .35s;
  }
  .overlay.open li:nth-of-type(2) {
	animation-delay: .4s;
  }
  .overlay.open li:nth-of-type(3) {
	animation-delay: .45s;
  }
  .overlay.open li:nth-of-type(4) {
	animation-delay: .50s;
	}
	.overlay.open li:nth-of-type(5) {
	animation-delay: .55s;
	}
	.overlay.open li:nth-of-type(6) {
	animation-delay: .60s;
	}
	.overlay.open li:nth-of-type(7) {
	animation-delay: .65s;
	}
  .overlay nav {
	position: relative;
	height: 70%;
	top: 10%;
	font-size: 50px;
	font-weight: 400;
	text-align: center;
  }
  .overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	height: 100%;
  }
  .overlay ul li {
	display: block;
	height: 15%;
	min-height: 50px;
	position: relative;
	opacity: 0;
  }
  .overlay ul li a {
	display: block;
	position: relative;
	color: #444444;
	text-decoration: none;
	overflow: hidden;
	}
	.overlay-menu li i.fa-utensils {
		font-size: 30px;
		text-decoration: underline;
	}
  
  @keyframes fadeInRight {
	0% {
	  opacity: 0;
	  left: 20%;
	}
	100% {
	  opacity: 1;
	  left: 0;
	}
  }
  
  #toggle, #overlay {
	width: 0;
  }
  
  @media (max-width: 800px) {
	#toggle {
	  width: 35px;
	}
	
	#overlay {
	  width: 100%;
	}

	.desktop {
		display: none;
	}

	body #login {
		margin: 10px auto;
	}
  
	#login .btn-round {
		margin: 0 125px;
	}
  
	#login h4, #login h1 {
		margin: 0;
	}
	
  }

  
